body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding-top: 20px;
  }
  
  h1 {
    color: #003366; /* Siyah-mavi renk */
  }
  
  .card {
    border: 1px solid #003366;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    background-color: #ffffff;
  }
  
  .card-title {
    color: #003366;
    font-weight: bold;
  }
  
  .card-text {
    color: #333333;
  }
  
  .btn-primary {
    background-color: #003366;
    border-color: #003366;
  }
  
  .btn-primary:hover {
    background-color: #005b96;
    border-color: #005b96;
  }
  
  .btn-outline-secondary {
    border-color: #003366;
    color: #003366;
  }
  
  .btn-outline-secondary:hover {
    background-color: #003366;
    color: #ffffff;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin: 0 5px;
  }
  